:host {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;

    border: 2px solid #E1ADFB;
    background: #212121;
    height: 200px;
    width: 250px;
    margin: 3rem 3rem 3rem 3rem;
}

.ProjectTile-Title {
    text-align: center;
    font-size: 2em;
    margin-bottom: .3em;
}

.ProjectTile-SubTitle {
    font-size: 1em;
    text-align: center;
}