<div class="pageHeader"><p>Felly.dev</p></div>
<div class="testProject">
  <span class="projectTitle"> Project 1 </span>
  <span class="projectSubTitle"> Makes a cat meow </span>
</div>
<div class="testProject">
  <span class="projectTitle"> Project 2 </span>
  <span class="projectSubTitle"> Makes a cat meow </span>
</div>
<div class="testProject">
  <span class="projectTitle"> Project 3 </span>
  <span class="projectSubTitle"> Makes a cat meow </span>
</div>
<div class="testProject">
  <span class="projectTitle"> Project 4 </span>
</div>
<div class="testProject">
  <span class="projectTitle"> Project 5 </span>
</div>
<div class="testProject">
  <span class="projectTitle"> Project 6 </span>
</div>
<div class="testProject">
  <span class="projectTitle"> Project 7 </span>
</div>
<router-outlet></router-outlet>
