<div class="ProjectList-Header"><p>Felly.dev</p></div>
<div class="Section-Container">
  <p class="Sub-Header">Project List</p>
  <div class="ProjectList-Container">
    <fel-project-tile
      name="todo app"
      description="its a todo list!"
      route="/todo"
      link="https://github.com/spfellers/felly/tree/master/src/app/features/todo/README.md"
    >
    </fel-project-tile>
    <fel-project-tile
      name="tier list maker"
      description="create cool tier lists"
      route="/tierlist"
      link="https://github.com/spfellers/felly/tree/master/src/app/features/tier-list/README.md"
    >
    </fel-project-tile>
    <fel-project-tile
      name="Url Regex Tester"
      description="test your regex to match urls against thousands"
      route="/urltester"
      link="https://github.com/spfellers/felly/tree/master/src/app/features/url-regex-tester/README.md"
    >
    </fel-project-tile>
  </div>
</div>
<div class="Section-Container">
  <div class="About-Container">
    <p class="Sub-Header">
      About Felly
    </p>
  </div>
  <div>
    <p class="About-Text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </p>
  </div>
</div>
