/* You can add global styles to this file, and also import other style files */

body {
    background-color: #212121;
    height: 100vh;
}

span, p, h1, h2, h3, h4, h5, a, label {
    color: #E1ADFB;
    font-family: 'Signika', sans-serif;
}
